header {
   background-image: url(./background.jpg);
   height : 200px;
   text-align: right;
   font-size: 20px;
   margin: 0;
}

body {
   margin: 0;
}

a {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}